
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --bg-color:#ffffff;
    --navbar-bg-color:#BE2225;
    --navbar-border-color:#F2C559;
    --btn-bg-color:#B10003;
    --btn-border-color:#C08F19;
    --text-color:#C08F19;
    --nav-text-color: #F2C559;
    --nav-button-hover:#ffffff;
    --nav-font: 'Lobster', sans-serif; 
    --main-font: 'Lobster Two', sans-serif;
    --secondary-font: 'Roboto Flex', sans-serif;
}

body{
    margin: 0; 
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--navbar-bg-color);
    border-bottom: 8px solid var(--navbar-border-color);
    height: 15%;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 50;
}

.logo{
    margin-top: 0.5rem;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style:none;
    color: var(--nav-text-color);
    padding: 12px 16px;
    border: none;

}

.nav-menu a {
    font-family: var(--nav-font);
    font-family: var(--nav-font);
    font-size: 24px;
    text-decoration: none;
    color: var(--nav-text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: var(--nav-button-hover);
}

.nav-icon {
    display: flex;
    align-items: center;
    gap:1.2rem;
}

.icon{
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}


.cart-counter {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: var(--nav-text-color);
}

.confirmation-container {
    max-width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.confirmation-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 50px;
}

.image-section {    
    flex-shrink: 0;
    padding-top: 30px;
    width: 400px;
    height: 400px;
}

.confirmation-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.text-section {
    text-align: left;
    max-width: 450px;
    padding-top: 50px;
    padding-left: 50px;
}

.thank-you-title {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.confirmation-message {
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.contact-message {
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--text-color);
    line-height: 1.6;
}

.phone-number {
    font-weight: bold;
}

.home-button-container {
    margin-top: 50px;
}

.home-button {
    display: inline-block;
    font-family: var(--main-font);
    padding: 15px 20px;
    border: 4px solid var(--navbar-border-color);
    background-color: var(--btn-bg-color);
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.home-button:hover {
    background-color: var(--nav-button-hover);
    color: var(--btn-bg-color);
}